body{
	color: #DDD;
	width: 400px;
	margin: 0px auto;
	background-color: black;
	background-image: url("../images/Screenshot-Frogatto-30.png"), url("../images/Screenshot-Frogatto-28-composit.png");
	background-position: right top, left top;
	background-repeat: no-repeat, no-repeat;
}

p{
}
p#proper{
	text-indent: 2em;
}
p#ul-header{
	margin-bottom: -16px;
}

ul{
	list-style-type: square;
}

img#right-bg-image{
	float: right;
}
img#left-bg-image{
	float: left;
}