body{
	background-color: #000;
	color: #DDD;
	width: 400px;
}

p{
}
p#proper{
	text-indent: 2em;
}
p#ul-header{
}

ul{
	list-style-type: square;
}

img#right-bg-image{
	float: right;
}
img#left-bg-image{
	float: left;
}