#content-pane img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}
#content-pane img.emote {
  display: inline;
  clear: none;
}
#content-pane figure {
  margin: 0px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
}
#content-pane figcaption {
  padding-bottom: 1em;
}
#content-pane a:hover {
  background-color: white;
}
#content-pane .external:after {
  content: url("../images/icons/external link.svg");
  margin-right: 2px;
  margin-left: 2px;
}
#content-pane .lp:after,
#content-pane .video:after {
  content: url("../images/icons/lets play.svg");
  margin-right: 2px;
  margin-left: 2px;
}
#content-pane .new-window:after {
  content: url("../images/icons/new window.svg");
  margin-right: 2px;
  margin-left: 2px;
}
#content-pane > p {
  text-indent: 2em;
}
#content-pane iframe {
  overflow: hidden;
  background-color: #6C7175;
  border-width: 0;
  display: block;
}
#content-pane .iframe-player,
#content-pane .iframe-player-buttons {
  float: right;
  clear: right;
  margin-left: 5px;
}
#content-pane hr {
  margin-top: 5em;
  margin-bottom: 5em;
}
#content-pane h3 {
  clear: right;
}
#content-pane code {
  white-space: pre;
}
#content-pane .code-container {
  overflow-x: scroll;
}
