footer img {
  pointer-events: auto;
}
#background-city {
  pointer-events: auto;
}
h2 {
  text-align: center;
}
.left {
  float: left;
  margin-right: 2ex;
}
.right {
  float: right;
  margin-left: 2ex;
}
iframe {
  border: 0 solid transparent;
}
