/* In FF, set ReloadEvery to 5. In bash, go to ~/css/ and run:
while [ 1 ]; do
  lessc Grey\ and\ Blue.css.less Grey\ and\ Blue.css;
  sleep 1;
done
*/
/* Unfortunantly, browsers insist on applying AA to this, rendering it somewhat useless.*/
/* @font-face {
	font-family: "Monospace";
	src: local("Fixedsys"), local("Fixedsys500c"), local("FSEX300"), url("../images/Fixedsys500c.woff");
	font-smooth: never;
	-webkit-font-smoothing : none;
} */
/*This was blurry, the browser insisted on scaling the font with interpolation.*/
body {
  background-image: url('data:image/gif;base64,R0lGODlhJAASAKEAALG0uszMzLG0urG0uiH5BAEKAAIALAAAAAAkABIAAAJHTICpaHwLW5LxKbrwtUBn7kGOKIZkx52fOk7p6pKmN4Nv1aqmfp/GHkOxhEEczIgkymxD4HK4gSpZGGC1V0tGi76Hcyr9bgoAOw==');
  padding: 50px;
  max-width: 850px;
  margin: auto;
  tab-size: 4;
}
@media (max-width: 650px) {
  body {
    padding: 0;
  }
}
#skip-nav {
  color: transparent;
  position: absolute;
}
#skip-nav:active,
#skip-nav:focus {
  color: white;
  text-shadow: black 0 0 2px;
}
#skip-nav:hover {
  cursor: default;
}
#content-holder {
  width: 100%;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.75);
}
#content-header {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  background-color: #2E2F33;
  border-bottom: 11px solid #3377ff;
}
#content-pane {
  margin: 0px;
  padding: 3em;
  padding-top: 3em;
  background: linear-gradient(#d0d2d8, #c9c6cb);
}
#content-pane a {
  color: black;
}
#badge {
  display: none;
  height: 135px;
  width: 0;
}
#badge img {
  width: 325px;
  height: 325px;
  transform: translate(-25px, -25px) rotate(-20deg);
  transform-origin: 50% 50%;
}
h1 {
  margin: 0px;
}
h1 img {
  vertical-align: middle;
}
h2 {
  margin: 0px;
}
h1 img {
  height: auto;
}
p {
  font-family: sans-serif;
}
code.prism-block {
  overflow: auto;
  display: block;
  letter-spacing: -0.01rem;
}
#icon-bar a {
  color: lightgrey;
  text-decoration: none;
}
#icon-bar a:hover {
  text-decoration: underline;
}
#icon-bar img {
  max-width: 70px;
  max-height: 70px;
  vertical-align: middle;
}
@media (min-width: 751px) {
  body {
    padding-right: 151px;
  }
  h1 {
    padding-right: 50px;
  }
  #icon-bar {
    width: 100px;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: #484B50;
    box-shadow: -1px 0 0 0 #3377ff, 0 0 18px #000000;
  }
  #icon-bar a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-decoration: none;
    height: 100px;
  }
  #icon-bar a:hover,
  #icon-bar a.selected {
    /*Originally, this worked by setting a white border of 2 and a margin of -2.
				This works out in Chrome, which can do math. However, Firefox calculates the
				element width as 100+2-2=99.97, which causes the icons to shift by one pixel
				as the rounding math changes where their centerpoint is. (This seems to be
				caused by a common browser workaround interpreting 1px borders "hairline".)
				To work around this, we make use of a box-shadow instead of a border, which
				doesn't affect the size of the element.*/
    box-shadow: -2px 0px 0px 0px #ffffff;
  }
  #icon-bar a:nth-last-child(odd) {
    background-color: #6C7175;
  }
  #icon-bar a.selected {
    pointer-events: none;
  }
  #icon-bar a:nth-last-child(even):hover {
    background-color: #4c4f54;
  }
  #icon-bar a:nth-last-child(odd):hover {
    background-color: #707579;
  }
  #icon-bar img {
    margin-bottom: -5px;
  }
  #icon-bar a:nth-child(1) img {
    margin-bottom: -1px;
  }
  #icon-bar a:nth-child(3) img {
    margin-bottom: -6px;
  }
  #badge {
    display: block;
  }
}
@media (max-width: 750px) {
  /*590 is the minimum width "gallery" will fit into the header.*/
  #content-header {
    display: block;
  }
  #content-header h1 {
    display: inline-block;
    margin: 40px 0 0 40px;
  }
  #icon-bar {
    display: inline-flex;
    float: right;
    margin: 30px;
  }
  #icon-bar img {
    width: 40px;
    height: 40px;
  }
  #icon-bar a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  #icon-bar a.selected {
    display: none;
  }
}
footer {
  margin-bottom: -19px;
  color: rgba(0, 0, 0, 0.3);
  text-shadow: rgba(0, 0, 0, 0.1) -1px 0, rgba(0, 0, 0, 0.1) 0 -1px, rgba(255, 255, 255, 0.1) 1px 0, rgba(255, 255, 255, 0.1) 0 1px, rgba(0, 0, 0, 0.1) -1px -1px, rgba(255, 255, 255, 0.1) 1px 1px;
}
/*# sourceMappingURL=grey-and-blue.css.map */