body{
	background-color: #000;
	color: #DDD;
	/*overflow-x: hidden;*/
}

*#content{
	max-width:1000px;
	margin-left:auto;
	margin-right:auto;
}

*.header{
	/*position:absolute;
	right:70%;*/
	width:30%;
	margin:0px; /*Anything larger will break the column effect.*/
	margin-top:10px;
	margin-bottom:10px; /*Used by the JS, at least.*/
	text-align:right;
	float:left;
	min-width:165px;
	max-width:400px;
}

h1{
	text-align:center;
	margin:30px;
	font-size:4em;
}

h2{
	margin:10px;
}

*.entry{
	/*position:absolute;
	left:30%;*/
	margin:0px;
	width:70%;
	float:right;
	margin-bottom:50px;
}
*.entry-content{
	margin:10px;
	max-width:400px;
}

p#proper{
	text-indent: 1em;
}

ul{
	list-style-type: none;
}

a{
	text-decoration: underline;
}
a:link {
	color: #DDD;
}
a:visited {
	color: #DDD;
}
a:active {
	color: #FFF; 
}
a:hover {
	color: #FFF;
}
b{
	color: #FFF;
}