!!!
%html{"lang"=>"en"}
	%head
		%meta{"charset"=>"utf-8"}
		%title Status
		%link{"rel"=>"stylesheet", "href"=>"css/Grey and Blue.css"}
	%body
		#badge<
			%img{"src"=>"images/icons/page.svg", "alt"=>""}> 
			-#This is the background icon to display.
		#icon-bar
			%a<
				%img{"src"=>"images/icons/page.svg", "alt"=>""}>
				%div blog
			%a{"href"=>"gallery.html"}<
				%img{"src"=>"images/icons/work.svg", "alt"=>""}>
				%div gallery
			%a{"href"=>"contact.html"}<
				%img{"src"=>"images/icons/chat2.svg", "alt"=>""}>
				%div contact
			%a{"href"=>"feeds.html"}<
				%img{"src"=>"images/icons/rss.svg", "alt"=>""}>
				%div rss
		#content-holder
			%h1<
				%img{"src"=>"images/text-blog.png", "alt"=>"blog"}
			#content-pane
				%h2 Blog Post #2
				%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				%p PART 2: Again! Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				%h2 Blog Post #1
				%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	%footer	This site ©2013 David Roberts.