!!!
%html{"lang"=>"en"}
	%head
		%meta{"charset"=>"utf-8"}
		%title Contact
		%link{"rel"=>"stylesheet", "href"=>"css/Grey and Blue.css"}
		<link rel="alternate" type="application/rss+xml" title="RSS feed for ddr0.github.io" href="/rss.xml" />
		<meta name="theme-color" content="#3377FF">
	%body
		%a{id:"skip-nav", href:"#content"}Skip navigation.
		#badge<
			%img{"src"=>"images/icons/chat2.svg", "alt"=>""}> 
			-#This is the background icon to display.
		#icon-bar
			%a{"href"=>"blog.html"}<
				%img{"src"=>"images/icons/page.svg", "alt"=>""}>
				%div blog
			%a{"href"=>"gallery.html"}<
				%img{"src"=>"images/icons/work.svg", "alt"=>""}>
				%div gallery
			%a{"href"=>"contact.html"}<
				%img{"src"=>"images/icons/chat2.svg", "alt"=>""}>
				%div contact
			%a{"href"=>"rss.xml"}<
				%img{"src"=>"images/icons/rss.svg", "alt"=>""}>
				%div rss
		#content-holder
			%h1<
				%img{"src"=>"images/text-contact.png", "alt"=>"contact"}
			%a{name:"content"}
			#content-pane You can reach me at robertsdavidddr@gmail.com, on Github as DDR0, or on IRC as DDR on freenode.net.
	%footer	Site ©2013 David Roberts.