:ruby
	def blogContent
		buffer = Dir.glob(Dir.getwd+'/Blog Posts/*.html').
			sort!.last(5000).reverse!. #We won't figure out multiple pages until we have to.
			map!{|f| File.read(f)}.
			join
	end

!!!
%html{"lang"=>"en"}
	%head
		%meta{"charset"=>"utf-8"}
		%title Status
		%link{"rel"=>"stylesheet", "href"=>"css/Grey and Blue.css"}
	%body
		#badge<
			%img{"src"=>"images/icons/page.svg", "alt"=>""}> 
			-#This is the background icon to display.
		#icon-bar
			%a{"href"=>"blog.html"}<
				%img{"src"=>"images/icons/page.svg", "alt"=>""}>
				%div blog
			%a{"href"=>"gallery.html"}<
				%img{"src"=>"images/icons/work.svg", "alt"=>""}>
				%div gallery
			%a{"href"=>"contact.html"}<
				%img{"src"=>"images/icons/chat2.svg", "alt"=>""}>
				%div contact
			%a{"href"=>"feeds.html"}<
				%img{"src"=>"images/icons/rss.svg", "alt"=>""}>
				%div rss
		#content-holder
			%h1<
				%img{"src"=>"images/text-gallery.png", "alt"=>"gallery"}
			#content-pane TODO: Content.
	%footer
		This site ©2013 David Roberts.
		-#Launch the background city simulation. It should show up after a few minuites of idleness, so there's no reason to wait on it loading before we render the page.
		%a{"src"=>"images/easter-egg pull.svg", "style"=>"float: right; margin-right: 20%;", "onclick"=>"window.city.toggleVisibility()", "href"=>"#"}
			%img{"src"=>"images/easter-egg pull.svg"}
		%canvas{"id"=>"background-city", "width"=>0, "height"=>0}
		%script{"src"=>"http://code.jquery.com/jquery-2.0.0.min.js"}
		%script{"src"=>"http://code.createjs.com/preloadjs-0.3.0.min.js"}
		%script{"src"=>"background town/setup.js"}