[Unit]
Description=DnD dice roller server
Documentation=https://ddr0.ca/%%E2%%9A%%80
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/opt/ddr0.ca
ExecStart=/usr/bin/node /opt/ddr0.ca/⚀/dice.node.js 
Restart=on-failure

[Install]
WantedBy=multi-user.target
