body {
	background-image: url("images/non-legit background.jpeg");
	background-position: top center;
	width: 481px;
	margin-left: auto;
	margin-right: auto;
	color: white;
}

div#game {
	margin-left: -60px;
	margin-right: -60px;
	padding: 50px;
	padding-bottom: 0px;
	background: linear-gradient(to top right, #CCC, #999);
	background: -webkit-linear-gradient(#CCC, #999);
	border: 10px solid #777;
	border-radius: 70px;
	color: black;
	font-size: 2em;
}

canvas {
	background-image: url("images/tile-background.png"), url("images/dried mud.png");
	box-shadow: 3px 3px 4px #000;
	padding-bottom: 0px;
	position:relative;
}

p#score {
	float: left;
	width: 240px;
	background-color: #CCC;
	border: 1px solid black;
}

p#cash {
	background-color: #CCC;
	border: 1px solid  black;
}

div#popover {
	text-align: center;
	font-size: 20px;
	background: white;
	background: rgba(255,255,255,0.8);
	position: absolute;
	top: 250px;
	margin-left: 40px;
	margin-right: auto;
	width: 400px;
	outline: 3px solid black;
}

div#music {
	position: fixed;
	right: 5%;
	bottom: 0%;
	background: #3ba1c2;
	padding: 6px;
	padding-bottom: 0px;
	border: 1px solid black;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-bottom: -6px;
}