@font-face {
	font-family: "Play";
	src: local('Play'),
	     local('Play.ttf'),
	     url("../fonts/Play/Play-Regular.ttf") format("truetype");
}

html {
	font-family: 'Play', sans-serif;
}

html, h1, h2, h3, label>h2, label>h3 {
	font-family: 'Play', sans-serif;
	color: rgb(0, 103, 125);
}

body {
	background-image: url('novax-stars.webp');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

section {
	border: 1px solid black;
	
	background-color: rgba(255, 255, 255, 1);
	border-radius: 5px;
	border: 0px solid rgba(0, 0, 0, 1);
	background-image: url(apple_box.png);
	background-repeat: repeat-x;
	background-position: 0 0;
}

#content-header {
	background-color:rgba(225, 225, 225, 1);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
	border: 0px solid rgba(225, 225, 225, 1);
	background-image: url('apple_box.png');
	background-position: 0 0;
}

#intersection-button-group-selection {
	width: 17em;
}

label {
	font-weight: 700;
	color: #444;
	font-size: 15px;
}

label > * {
	font-weight: normal;
}

/*Single-column mode for slender screens.*/
@media all and (max-width: 6.5in) {
	section,
	#push-settings,
	#push-settings > section {
		width: calc(100vw - 1in);
	}
}