body{
	background-color: black;
	color: #DDD;
	overflow-x: hidden;
}

div#content{
	margin: auto;
	margin-top: 100px;
	width: 400px;
}
div#left-img{
	background: url("../images/Screenshot-Frogatto-54-composite.png"); 
	background-repeat: no-repeat; 
	position: absolute; 
	top: 150px; 
	right: 50%; 
	margin-right: 400px; 
	width: 1032px; 
	height: 1090px;
}
div#right-img{
	background: url("../images/Screenshot-Frogatto-56-composite.png"); 
	background-repeat: no-repeat; 
	position: absolute; 
	top: 150px; 
	left: 50%; 
	margin-left: 400px; 
	width: 1632px; 
	height: 1212px;
}

p#proper{
	text-indent: 2em;
}
p#ul-header{
	margin-bottom: -15px;
}

ul{
	list-style-type: none;
}

a{
	text-decoration: underline;
}
a:link {
	color: #DDD;
}
a:visited {
	color: #DDD;
}
a:active {
	color: #FFF; 
}
a:hover {
	color: #FFF;
}
b{
	color: #FFF;
}